.hero {
  position: relative;
  width: 100%;
  height: clamp(
    420px,
    calc(100dvh - var(--header-height) - 150px), /* Peek-ahead at next section */
    calc(2 * 100vw) /* hard limit on the crop */
  );
  container-type: size;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding: 0;
  background-color: var(--color-hero-bg);
}

/* Hero Image */
.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: var(--hero-lqip-placeholder) 50% 50% / contain no-repeat;
}

.hero-image {
  width: 100%;
  height: 101%; /* to remove a right edge artifact from the background */
  object-fit: contain;
  display: block;
  opacity: 0;
  filter: blur(20px);
  animation:
    reveal-opacity 0.3s ease-in forwards,
    reveal-blur 0.2s ease-out 0.3s forwards;
}

@keyframes reveal-opacity {
  to { opacity: 1; }
}

@keyframes reveal-blur {
  to { filter: blur(0); }
}

@container (max-aspect-ratio: 16/7.5) { /* 16/7.5 is hero image aspect ratio - can't use vars here :( */
  .hero-image {
    object-fit: cover;
    object-position: 40.743%;
  }

  .hero-image-container {
    background-size: cover;
    background-position: 40.74% 50%;
  }

  @supports(object-position: 50cqi) {
    .hero-image {
      --visible-img-part: calc(1cqi / 1cqh / var(--hero-img-aspect-ratio));

      object-position: calc(40.743%
        + 71.988% * clamp(0, calc(var(--visible-img-part) - 0.253), 0.187)
        - 103.530% * clamp(0, calc(var(--visible-img-part) - 0.440), 0.127)
        + 115.795% * clamp(0, calc(var(--visible-img-part) - 0.566), 0.099)
        - 7.686% * clamp(0, calc(var(--visible-img-part) - 0.666), 0.334)
      );
    }
  }
}

/* Hero Text */
.hero-content {
  position: relative;
  z-index: 1;
}

.hero-text-box {
  position: relative;
  text-align: center;
  z-index: 1;
  background: var(--color-hero-text-bg);
  color: var(--color-text);
  padding: var(--hero-std-margin);
  margin: var(--hero-std-margin);
  margin-bottom: clamp(var(--hero-std-margin), 20dvh - 150px, calc(1.8 * var(--hero-std-margin)));
  border-radius: 8px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
}

.hero-text-box h1 {
  font-size: var(--hero-font-size-h1);
  line-height: 1.1;
  margin-bottom: 0;
}

.hero-text-box p {
  font-size: var(--hero-font-size);
  margin-top: calc(var(--hero-font-size)/2);
}

.hero-cta-btn {
  padding: 0.5rem 1.25rem;
}
