<div class="width-limiter">
  <div class="header-content">
    <a href="/#top" class="logo" aria-label="Go to homepage">
      <img src="/logo.svg" alt="Real Learning Logo" />
    </a>

    <nav aria-label="Main navigation">
      <ul class="nav-links" id="main-nav">
        <li><a href="/about.html">About Us</a></li>
        <li><a href="/faq.html">FAQ</a></li>
        <li><a href="/careers.html">Careers</a></li>
        <li><a href="/#offers" class="button header-signup-btn">Sign Up</a></li>
      </ul>
    </nav>
    <div>
    </div>

    <div style="display: flex; align-items: center; gap: 1rem;">
      <button class="more-menu" id="menu-toggle" aria-label="More menu" aria-expanded="false">
        &bull;&bull;&bull;
      </button>
    </div>
  </div>
  <script type="module" src="/src/lib/header.ts"></script>
</div>
