<div class="offer-block">
  <div class="offer-tier">
    <h3>Monthly Membership</h3>
    <ul>
      <li>First <b>2</b> months free</li>
      <li><span class="strikethrough">$500</span> <b>$249</b> /month after (while discount lasts)</li>
    </ul>
  </div>
  <div class="offer-tier">
    <h3>Annual Membership</h3>
    <ul>
      <li>First <b>2</b> months free</li>
      <li>Then <span class="strikethrough">$6000</span> <b>$2490</b> locked in for the next 12 months</li>
    </ul>
  </div>
</div>
